body {
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizelegibility;

  display: flex;
  place-items: center;

  background-color: #f6f6f6;
}

#root {
  margin: 16px auto;
  max-width: 1920px;
}
