:root {
  /* Global */
  --main-background-color: #f6f6f6;
  --main-text-color: var(--color-gray-80);

  /* Colors */
  --color-blue-10: #eaf5fe;
  --color-blue-20: #cfe9ff;
  --color-blue-30: #a5d7ff;
  --color-blue-40: #7cc2ff;
  --color-blue-50: #42a5f5;
  --color-blue-60: #2196f3;
  --color-blue-70: #1e88e5;
  --color-blue-80: #1976d2;
  --color-blue-90: #1565c0;
  --color-blue-100: #0d47a1;

  --color-gray-10: #ffffff;
  --color-gray-20: #fafafa;
  --color-gray-30: #e5e5e5;
  --color-gray-40: #bfbfbf;
  --color-gray-50: #a3a3a3;
  --color-gray-60: #858585;
  --color-gray-70: #5e5e5e;
  --color-gray-80: #4a4a4a;
  --color-gray-90: #313131;
  --color-gray-100: #0a0a0a;

  --color-orange-10: #fff1ea;
  --color-orange-20: #fedcca;
  --color-orange-30: #fcb996;
  --color-orange-40: #fb9761;
  --color-orange-50: #fa742d;
  --color-orange-60: #ed6e2b;
  --color-orange-70: #c85d24;
  --color-orange-80: #96461b;
  --color-orange-90: #642e12;
  --color-orange-100: #3e1d0b;

  --color-info: #b5dcff;
  --color-error: #ff9f9f;
  --color-success: #6dee91;
  --color-warning: #ffcc00;

  --color-gradient: linear-gradient(to right, #2196f3, #afddff, #ffffff);

  /* START Typography */
  /* --font-family: "Roboto", sans-serif; */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --font-primary: var(--color-orange-50);
  --font-secondary: var(--color-gray-60);
  --font-info: var(--color-info);
  --font-error: var(--color-error);
  --font-success: var(--color-success);
  --font-warning: var(--color-warning);

  --h1: 32px;
  --h2: 24px;
  --h3: 16px;
  --body: 16px;
  --caption: 12px;
  --span: 14px;
  /* End Typography */

  /* START Sizes */
  --small-padding: 8px 16px;
  --small-font-size: 12px;

  --medium-padding: 8px 24px;
  --medium-font-size: 14px;

  --large-padding: 24px 64px;
  --large-font-size: 16px;

  --icon-padding: 8px;
  --icon-font-size: 16px;
  /* END Sizes */

  /* START Transtion */
  --transition-duration: 0.2s;
  --transition-timing-function: ease-out;
  /* END Transtion */

  /* START Button */
  /* Primary */
  --button-primary-color: var(--color-gray-10);
  --button-primary-background: var(--color-orange-50);

  --button-primary-hover-color: var(--color-gray-10);
  --button-primary-hover-background: var(--color-orange-60);

  --button-primary-click-color: var(--color-gray-10);
  --button-primary-click-background: var(--color-orange-70);

  /* Secondary */
  --button-secondary-color: var(--color-orange-50);
  --button-secondary-border-color: var(--color-orange-50);

  --button-secondary-hover-color: var(--color-orange-60);
  --button-secondary-hover-border: var(--color-orange-60);

  --button-secondary-click-color: var(--color-orange-70);
  --button-secondary-click-border: var(--color-orange-70);

  /* Tertiary */
  --button-tertiary-color: var(--color-gray-100);

  --button-tertiary-hover-color: var(--color-blue-50);
  --button-tertiary-hover-background: var(--color-blue-20);

  --button-tertiary-click-color: var(--color-gray-10);
  --button-tertiary-click-background: var(--color-blue-60);

  /* Danger */
  --button-danger-color: var(--color-gray-10);
  --button-danger-background: var(--color-orange-70);

  --button-danger-hover-color: var(--color-gray-10);
  --button-danger-hover-background: var(--color-orange-60);

  /* Link */
  --button-link-color: var(--color-blue-50);

  --button-link-hover-color: var(--color-blue-70);

  /* Disabled */
  --button-disabled-color: var(--color-gray-40);
  --button-disabled-background: var(--color-gray-30);
  --button-disabled-border-color: var(--color-gray-40);
  /* END Buttons */

  /* START Input */
  /* Default */
  --input-default-color: var(--color-blue-30);
  --input-default-background: var(--color-gray-10);
  --input-default-border-color: var(--color-gray-50);

  --input-default-hover-color: var(--color-blue-50);

  --input-default-click-color: var(--color-blue-50);

  /* Disabled */
  --input-disabled-color: var(--color-gray-50);
  --input-disabled-border-color: var(--color-gray-50);

  --input-error-color: var(--color-error); /* Error */
  --input-success-color: var(--color-success); /* Success */
  --input-warning-color: var(--color-warning); /* Warning */
  /* END Input */

  /* START Select */
  /* Default */
  --select-default-color: var(--color-gray-40);
  --select-default-background: var(--color-gray-10);
  --select-default-border-color: var(--color-gray-40);

  --select-default-active-color: var(--color-blue-60);

  /* Disabled */
  --select-disabled-color: var(--color-gray-80);
  /* END Select */

  /* START Radio */
  --radio-default-color: var(--color-gray-10);
  --radio-default-border-color: var(--color-gray-50);
  --radio-default-checked-color: var(--color-blue-80);

  --radio-default-hover-color: var(--color-gray-10);
  --radio-default-hover-border: var(--color-blue-80);

  --radio-default-click-color: var(--color-gray-10);
  --radio-default-click-border: var(--color-blue-80);
  --radio-default-click-box-shadow: var(--color-blue-30);

  --radio-default-disabled-color: var(--color-gray-20);
  --radio-default-disabled-border: var(--color-gray-30);
  /* END Radio */

  /* START Checkbox */
  --checkbox-default-color: var(--color-gray-10);
  --checkbox-default-border-color: var(--color-gray-50);
  --checkbox-default-checked-color: var(--color-blue-80);

  --checkbox-default-hover-color: var(--color-gray-10);
  --checkbox-default-hover-border: var(--color-blue-80);

  --checkbox-default-click-color: var(--color-gray-10);
  --checkbox-default-click-border: var(--color-blue-80);
  --checkbox-default-click-box-shadow: var(--color-blue-30);

  --checkbox-default-disabled-color: var(--color-gray-20);
  --checkbox-default-disabled-border: var(--color-gray-30);
  /* END Checkbox */

  /* START Switch */
  --switch-default-color: var(--color-gray-10);
  --switch-default-border-color: var(--color-gray-50);
  --switch-default-background-color: var(--color-gray-30);
  --switch-default-checked-color: var(--color-blue-80);

  --switch-default-hover-color: var(--color-gray-10);
  --switch-default-hover-border: var(--color-blue-80);

  --switch-default-click-color: var(--color-gray-10);
  --switch-default-click-border: var(--color-blue-80);
  --switch-default-click-box-shadow: var(--color-blue-30);

  --switch-default-disabled-color: var(--color-gray-20);
  --switch-default-disabled-border: var(--color-gray-30);
  /* END Switch */

  /* START Chip */
  --chip-default-color: var(--color-gray-100);
  --chip-default-background: var(--color-gray-30);

  --chip-info-color: var(--color-gray-100);
  --chip-info-background: var(--color-info);

  --chip-success-color: var(--color-gray-100);
  --chip-success-background: var(--color-success);

  --chip-error-color: var(--color-gray-100);
  --chip-error-background: var(--color-error);

  --chip-warning-color: var(--color-gray-100);
  --chip-warning-background: var(--color-warning);
  /* END Chip */

  /* START Modal Popup Popover */
  --wrapper-background-color: var(--color-gray-100);
  --content-background-color: var(--color-gray-10);
  /* END Modal */

  /* START Spinner */
  --spinner-border-color: var(--color-gray-80);
  /* END Spinner */

  /* START Divider */
  --divider-border-color: var(--color-gray-40);
  /* END Divider */

  /* START Box */
  --box-blue-color: var(--color-blue-70);
  --box-white-color: var(--color-gray-10);
  /* END Box */

  /* START Stepper */
  --stepper-background-color: var(--color-gray-10);
  --stepper-border-color: var(--color-blue-70);
  --stepper-color: var(--color-blue-70);
  /* END Stepper */

  /* START Table */
  --table-background-color: var(--color-gray-10);
  --table-divider-color: var(--color-gray-30);
  --table-background-hover-color: var(--color-gray-20);
  /* END Table */
}
