.popover {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--content-background-color);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px #00000033;
  // animation: fadeIn var(--transition-duration) var(--transition-timing-function) forwards;
  z-index: 50;

  &__actions {
    display: flex;
    gap: 16px;
  }
}

// @keyframes fadeIn {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }
