.headerPanel {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__time {
    width: 149px;
  }

  &__avatar {
    border-radius: 16px;
  }

  &__userInfo {
    display: flex;
    align-items: center;
    margin-left: 10px;

    &__text {
      margin-left: 10px;
    }
  }

  &__user {
    font-size: 14px;
  }

  &__idUser {
    color: var(--color-blue-40);
    font-size: 14px;
  }
}