.box {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);

  &.padding {
    padding: 16px;
  }

  &.hover {
    &:hover {
      box-shadow: 0px 0px 4px 0px #00000026;
    }
  }

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    user-select: none;
    background: var(--color-gray-20) !important;
    opacity: 0.5;
  }

  // direction
  &.up {
    align-items: flex-start;
  }

  &.right {
    justify-content: flex-end;
  }

  &.left {
    justify-content: flex-start;
  }

  &.center {
    align-items: center;
    justify-content: center;
  }

  &.down {
    align-items: flex-end;
  }

  //variant
  &.default {
    box-shadow: 0px 0px 4px 0px #00000026;
  }

  &.dashed {
    box-shadow: none;
    outline: 2px dashed var(--color-blue-30);
  }

  &.solid {
    box-shadow: 0px 0px 4px 0px #00000026;
    outline: 1px solid var(--color-blue-50);
  }

  &.withoutShadow {
    box-shadow: none;
  }

  //color
  &.white {
    background: var(--box-white-color);
  }
  &.blue {
    background: var(--box-blue-color);
  }
  //border-radius
  &.border-default {
    border-radius: 16px;
  }
  &.border-right {
    border-radius: 0 16px 16px 0;
  }
  &.border-left {
    border-radius: 16px 0 0 16px;
  }
  &.border-up {
    border-radius: 16px 16px 0 0;
  }
  &.border-down {
    border-radius: 0 0 16px 16px;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0.5;
    font-size: 14px;
  }

  &.fullWidth {
    max-width: 100%;
    width: 100%;
  }
}
