.box {
  position: relative;
  box-shadow: 0px 4px 11.4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: flex;
  flex-direction: column;

  // direction
  &.up {
    align-items: flex-start;
  }

  &.right {
    justify-content: flex-end;
  }

  &.left {
    justify-content: flex-start;
  }

  &.center {
    align-items: center;
    justify-content: center;
  }

  &.down {
    align-items: flex-end;
  }

  //color
  &.white {
    background: var(--box-white-color);
  }
  &.blue {
    background: var(--box-blue-color);
  }
  //border-radius
  &.default{
    border-radius: 16px;
  }
  &.right{
    border-radius: 0 16px 16px 0;
  }
  &.left{
    border-radius: 16px 0 0 16px;
  }
  &.up{
    border-radius: 16px 16px 0 0;
  }
  &.down{
    border-radius: 0 0 16px 16px;
  }


  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0.5;
  }

  &.fullWidth {
    max-width: 100%;
    width: 100%;
  }
}
