.box {
  position: relative;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;

  // direction
  &.up {
    align-items: flex-start;
  }

  &.right {
    justify-content: flex-end;
  }

  &.left {
    justify-content: flex-start;
  }

  &.center {
    align-items: center;
    justify-content: center;
  }

  &.down {
    align-items: flex-end;
  }

  //variant
  &.default {
    box-shadow: 0px 0px 4px 0px #00000026;
  }

  &.dashed {
    box-shadow: none;
    border: 2px dashed var(--color-blue-30);
  }

  &.solid {
    box-shadow: none;
    border: 2px solid var(--color-blue-30);
  }

  //color
  &.white {
    background: var(--box-white-color);
  }
  &.blue {
    background: var(--box-blue-color);
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0.5;
  }

  &.fullWidth {
    max-width: 100%;
    width: 100%;
  }
}
