.dropdownContainer {
  position: relative;
}

.fixed {
  position: sticky;
  top: 0px;
  background-color: var(--color-gray-10);
  padding: 4px 8px 4px 8px;
}

.trigger {
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  background-color: var(--color-gray-10);
  padding: 0 16px 8px 16px;
  border-radius: 8px;
  width: 350px;
  max-height: 240px;
  z-index: 10;
  box-shadow: 0px 0px 8px 0px #00000033;
  font-size: 14px;
  overflow: auto;
}

.loading,
.optionUndefined {
  width: auto;
  padding: 8px 16px 8px 16px;
}

.dropdownMenu::-webkit-scrollbar {
  width: 0;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.optionItem {
  padding: 4px 8px 4px 8px;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 4px;
  margin-bottom: 4px;
  transition: var(--transition-duration) var(--transition-timing-function);

  &:hover {
    color: var(--color-blue-50);
    background-color: var(--color-blue-20);
  }
}

.selected {
  color: var(--color-gray-10);
  background-color: var(--color-blue-60);
}
