.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 0;
  font-size: 16px;
  background: none;
  cursor: pointer;
  transition: all var(--transition-duration) var(--transition-timing-function);

  &.fullWidth {
    width: 100%;
  }

  &[disabled] {
    color: var(--button-disabled-color);
    background-color: var(--button-disabled-background);
    cursor: not-allowed;

    &:hover,
    &:active {
      text-decoration: none;
      color: var(--button-disabled-color);
      background-color: var(--button-disabled-background);
    }
  }

  &.loading {
    opacity: 0.9;
    pointer-events: none;
    overflow: hidden;

    &::before {
      content: "";
      opacity: 0.5;
      position: absolute;
      width: 100%;
      height: 400px;
      background-image: linear-gradient(
        to right,
        #ccc 0%,
        #ccc 50%,
        transparent 50%,
        transparent 100%
      );
      transform: rotate(45deg);
      background-size: 10px;
      animation: shimmer 5s infinite linear;
      z-index: -1;
    }
  }

  @keyframes shimmer {
    0% {
      background-position: 0% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
}

// Variants
.primary {
  color: var(--button-primary-color);
  background-color: var(--button-primary-background);

  &:hover {
    color: var(--button-primary-hover-color);
    background-color: var(--button-primary-hover-background);
  }

  &:active {
    color: var(--button-primary-click-color);
    background-color: var(--button-primary-click-background);
  }
}

.secondary {
  color: var(--button-secondary-color);
  border: 1px solid var(--button-secondary-border-color);

  &:hover {
    color: var(--button-secondary-hover-color);
    border-color: var(--button-secondary-hover-border);
  }

  &:active {
    color: var(--button-secondary-click-color);
    border-color: var(--button-secondary-click-border);
  }
}

.tertiary {
  color: var(--button-tertiary-color);

  &:hover {
    color: var(--button-tertiary-hover-color);
    background-color: var(--button-tertiary-hover-background);
  }

  &:active {
    color: var(--button-tertiary-click-color);
    background-color: var(--button-tertiary-click-background);
  }
}

.danger {
  color: var(--button-danger-color);
  background-color: var(--button-danger-background);

  &:hover {
    color: var(--button-danger-hover-color);
    background-color: var(--button-danger-hover-background);
  }
}

.link {
  color: var(--button-link-color);

  &:hover {
    text-decoration: underline;
    color: var(--button-link-hover-color);
  }
}

.free {
  border: 1px solid var(--color-blue-50);
}

.selected {
  color: var(--color-gray-10);
  background-color: var(--color-blue-80);
}

.booking {
  border: 1px solid var(--color-gray-50);
}

.occupied {
  border: 1px solid var(--color-gray-30);
}

.payment {
  background-color: var(--color-gray-10);
  box-shadow: 0px 0px 8px 0px #00000033;
  transition: none;
}

// Sizes
.small {
  font-size: var(--small-font-size);
  padding: var(--small-padding);
}

.medium {
  font-size: var(--medium-font-size);
  padding: var(--medium-padding);
}

.large {
  font-size: var(--large-font-size);
  padding: var(--large-padding);
}

.icon {
  padding: var(--icon-padding);
  font-size: var(--icon-font-size);
}
