@import url(../../../app/styles/root.css);

.button {
  display: inline-block;
  border-radius: 8px;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-out;

  &[disabled] {
    color: var(--button-disabled-color);
    background-color: var(--button-disabled-background);
    cursor: not-allowed;
    &:hover,
    &:active {
      color: var(--button-disabled-color);
      background-color: var(--button-disabled-background);
    }
  }
}

// Variants
.default {
  color: var(--button-default-color);
  background-color: var(--button-default-background);
  outline: 1px solid var(--button-default-border-color);

  &:hover {
    color: var(--button-default-hover-color);
    background-color: var(--button-default-hover-background);
    border-color: var(--button-default-hover-border);
  }
}

.primary {
  color: var(--button-primary-color);
  background-color: var(--button-primary-background);

  &:hover {
    color: var(--button-primary-hover-color);
    background-color: var(--button-primary-hover-background);
  }

  &:active {
    color: var(--button-primary-click-color);
    background-color: var(--button-primary-click-background);
  }
}

.secondary {
  color: var(--button-secondary-color);
  background-color: var(--button-secondary-background);

  &:hover {
    color: var(--button-secondary-hover-color);
    background-color: var(--button-secondary-hover-background);
  }

  &:active {
    color: var(--button-secondary-click-color);
    background-color: var(--button-secondary-click-background);
  }
}

.danger {
  color: var(--button-danger-color);
  background-color: var(--button-danger-background);

  &:hover {
    color: var(--button-danger-hover-color);
    background-color: var(--button-danger-hover-background);
  }
}

.link {
  color: var(--button-link-color);
  text-decoration: underline;

  &:hover {
    color: var(--button-link-hover-color);
  }
}

// Sizes
.small {
  font-size: var(--button-small-font-size);
  padding: var(--button-small-padding);
}

.medium {
  font-size: var(--button-medium-font-size);
  padding: var(--button-medium-padding);
}

.large {
  font-size: var(--button-large-font-size);
  padding: var(--button-medium-padding);
}

.s48 {
  width: 48px;
  height: 48px;
}

.icon {
  padding: var(--button-icon-padding);
  font-size: var(--button-icon-font-size);
}
