.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 64px;
  cursor: default;

  &.hover {
    &:hover {
      outline: 1px solid var(--chip-outline-hover-border);
    }
  }

  &.selected {
    &.outline-blue {
      color: var(--chip-outline-color);
      background-color: var(--chip-outline-background);
    }
  }

  // Variants
  &.default {
    cursor: pointer;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &.primary {
    background-color: var(--chip-primary-background);
    color: var(--chip-primary-color);
  }

  &.info {
    background-color: var(--chip-info-background);
    color: var(--chip-info-color);
  }

  &.success {
    background-color: var(--chip-success-background);
    color: var(--chip-success-color);
  }

  &.error {
    background-color: var(--chip-error-background);
    color: var(--chip-error-color);
  }

  &.warning {
    background-color: var(--chip-warning-background);
    color: var(--chip-warning-color);
  }

  &.outline-blue {
    border: 1px solid var(--chip-outline-blue-border);
  }

  &.outline-orange {
    border: 1px solid var(--chip-outline-orange-border);
    color: var(--chip-outline-orange-border);
  }

  // Sizes
  &.small {
    font-size: 12px;
    padding: 0 8px;
  }

  &.medium {
    font-size: 14px;
    padding: 0 12px;
  }

  &.large {
    font-size: 14px;
    padding: 0 16px;
  }

  &.extra-large {
    font-size: 14px;
    padding: 10px;
  }
}
