$border: 2px dashed #ccc;

.layout {
  display: grid;
  grid-template-areas:
    "aside main header"
    "aside main info";
  grid-template-columns: 250px 1.5fr 1fr;
  grid-template-rows: auto 1fr;
  width: 100vw;
  height: 100vh;

  &__headerPanel,
  &__asidePanel,
  &__mainPanel,
  &__informationPanel {
    border: $border;
  } // TODO: Удалить после добавления всех компонентов

  &__headerPanel,
  &__asidePanel,
  &__mainPanel,
  &__informationPanel {
    margin: 16px;
  }

  &__headerPanel {
    grid-area: header;
    margin-bottom: 0;
  }

  &__asidePanel {
    grid-area: aside;
    margin-right: 0;
  }

  &__mainPanel {
    grid-area: main;
    margin-right: 0;
  }

  &__informationPanel {
    grid-area: info;
  }
}
