.layout {
  display: grid;
  grid-template-columns: 250px 1.7fr 1fr;
  grid-template-rows: auto 1fr;
  padding: 16px;
  width: 100vw;
  height: 100vh;

  &.default {
    grid-template-areas:
      "aside nav header"
      "aside main info";
  }

  &.withoutInfo {
    grid-template-areas:
      "aside nav header"
      "aside main main";
  }

  &__headerPanel {
    grid-area: header;
    padding-bottom: 16px;
  }

  &__navPanel {
    grid-area: nav;
  }

  &__asidePanel {
    grid-area: aside;
  }

  &__mainPanel {
    grid-area: main;
    max-height: 100%;
    overflow-y: auto;
    padding: 16px;
  }

  &__informationPanel {
    grid-area: info;
  }
}
