@import url(../../../app/styles/root.css);

$border: 2px dashed #ccc;

.layout {
  display: grid;
  grid-template-areas:
    "aside header header"
    "aside main info";
  grid-template-columns: 250px 1.5fr 1fr;
  grid-template-rows: auto 1fr;
  width: 100vw;
  height: 100vh;
  gap: 16px;

  &__headerPanel,
  &__asidePanel,
  &__mainPanel,
  &__informationPanel {
    border: $border;
  } // TODO: Удалить после добавления всех компонентов

  &__headerPanel {
    grid-area: header;
  }

  &__asidePanel {
    grid-area: aside;
    overflow-y: auto;
  }

  &__mainPanel {
    grid-area: main;
    overflow-y: auto;
  }

  &__informationPanel {
    grid-area: info;
    overflow-y: auto;
  }
}
