.input {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 8px;
  font-size: 14px;
  padding: 10px 16px;
  overflow: hidden;
  background-color: var(--input-default-background);
  transition: all var(--transition-duration) var(--transition-timing-function);
  cursor: text;

  input {
    border: 0;
    outline: 0;
    width: 100%;
    color: var(--main-text-color);

    &::placeholder {
      opacity: 0.5;
    }
  }

  &.border {
    border: 1px solid var(--input-default-border-color);
  }

  &__message {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    font-size: 8px;
    padding: 0 2px 0 2px;
    background-color: var(--color-blue-10);
    color: var(--color-gray-50);
  }

  &.fullWidth {
    width: 100%;
  }

  &:hover {
    border-color: var(--input-default-hover-color);
  }

  &:focus-visible {
    outline: 0;
  }

  &:focus-within {
    box-shadow: 0 0 0 3px var(--input-default-color);

    input::placeholder {
      opacity: 1;
      color: var(--input-default-color);
      border-color: var(--input-default-hover-border);
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;

    input {
      color: var(--input-disabled-color);
      background-color: var(--input-disabled-background);
      cursor: not-allowed;
    }

    &:hover,
    &:focus {
      border-color: var(--input-disabled-border-color);
    }
  }

  &__slots {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &__pointer {
      cursor: pointer;
    }
  }
}

// Variants
.default {
  color: var(--button-default-color);
}

.error {
  border-color: var(--input-error-color);
  box-shadow: 0 0 0 3px var(--input-error-color);
  input {
    color: var(--input-error-color);
  }

  &.disabled {
    border-color: var(--input-disabled-border-color);
    box-shadow: none;

    input {
      color: var(--input-disabled-color);
    }
  }
}

.success {
  border-color: var(--input-success-color);
  box-shadow: 0 0 0 3px var(--input-success-color);
  input {
    color: var(--input-success-color);
  }

  &.disabled {
    border-color: var(--input-disabled-border-color);
    box-shadow: none;

    input {
      color: var(--input-disabled-color);
    }
  }
}

.warning {
  border-color: var(--input-warning-color);
  box-shadow: 0 0 0 3px var(--input-warning-color);

  input {
    color: var(--input-warning-color);
  }

  &.disabled {
    border-color: var(--input-disabled-border-color);
    box-shadow: none;

    input {
      color: var(--input-disabled-color);
    }
  }
}

.wrapper {
  &-default {
    background-color: var(--input-default-background);

    input {
      background-color: var(--input-default-background);
    }
  }

  &-blue {
    background-color: var(--input-blue-background);

    input {
      background-color: var(--input-blue-background);
    }
  }
}
