.label {
  display: flex;
  gap: 4px;
  position: relative;

  pointer-events: none;

  & > * {
    pointer-events: auto;
  }

  &__text {
    position: relative;
    pointer-events: none;
    z-index: 1;
  }

  &__text::after {
    content: attr(data-text);
    display: block;
    pointer-events: none;
  }

  // Variant
  &.h1 {
    font-size: var(--h1);
  }

  &.h2 {
    font-size: var(--h2);
  }

  &.h3 {
    font-size: var(--h3);
  }

  &.h4 {
    font-size: var(--h4);
  }

  &.h5 {
    font-size: var(--h5);
  }

  &.h6 {
    font-size: var(--h6);
  }

  &.caption {
    display: block;
    font-size: var(--caption);
  }

  &.span {
    font-size: var(--span);
  }

  &.up {
    flex-direction: column;
  }

  &.down {
    flex-direction: column-reverse;
  }

  &.left {
    flex-direction: row;
    align-items: center;
  }

  &.right {
    flex-direction: row-reverse;
    align-items: center;
  }
}
