.typography {
  overflow-wrap: break-word;

  // Variant
  &.h1 {
    font-size: var(--h1);
  }

  &.h2 {
    font-size: var(--h2);
  }

  &.h3 {
    font-size: var(--h3);
  }

  &.h4 {
    font-size: var(--h4);
  }

  &.h5 {
    font-size: var(--h5);
  }

  &.h6 {
    font-size: var(--h6);
  }

  &.caption {
    display: block;
    font-size: var(--caption);
  }

  &.span {
    font-size: var(--span);
  }

  // Color
  &.default-black {
    color: var(--main-text-color);
  }

  &.default-white {
    color: var(--main-text-color-white);
  }

  &.primary {
    color: var(--font-primary);
  }

  &.primary-second {
    color: var(--font-primary-second);
  }

  &.secondary {
    color: var(--font-secondary);
  }

  &.success {
    color: var(--font-success);
  }
  &.table-info {
    color: var(--font-table-info);
  }

  &.error {
    color: var(--font-error);
  }

  &.warning {
    color: var(--font-warning);
  }

  &.info {
    color: var(--font-info);
  }
}
