.selectWrapper {
  &.fullWidth {
    width: 100%;
  }

  &:hover {
    .select {
      border-color: var(--select-default-active-color);
    }

    .arrow svg {
      color: var(--select-default-active-color);
    }

    .options {
      border-color: var(--select-default-active-color);
    }

    .option:hover {
      background: var(--select-default-active-color);
    }
  }
}

.select {
  padding: 12px;
  border: 1px solid var(--select-default-border-color);
  border-radius: 4px;
  background: var(--select-default-background);
  color: var(--select-default-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  cursor: pointer;

  &.open {
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
  }
}

.arrow {
  transition: transform var(--transition-duration) var(--transition-timing-function);

  svg {
    color: var(--select-default-active-color);
  }

  &.open {
    transform: rotate(-180deg);
  }
}

.options {
  background: var(--select-default-background);
  width: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid var(--select-default-border-color);
  border-top: 0;
  border-radius: 0 0 4px 4px;
  cursor: pointer;

  &__item {
    border-radius: 4px;
    padding: 4px;

    &:hover {
      background-color: #f2f2f2;
    }
  }

  &__selected {
    color: var(--select-default-active-color);
    outline: 1px solid var(--select-default-active-color);
  }
}
