.selectWrapper {
  position: relative;
  &.fullWidth {
    width: 100%;
  }

  &:hover {
    .select {
      border-color: var(--select-default-active-color);
    }

    .arrow svg {
      color: var(--select-default-active-color);
    }

    .options {
      border-color: var(--select-default-active-color);
    }

    .option:hover {
      background: var(--select-default-active-color);
    }
  }
}

.select {
  position: relative;
  min-width: 250px;
  padding: 11px 16px;
  border: 1px solid var(--select-default-border-color);
  border-radius: 8px;
  background: var(--select-default-background);
  color: var(--select-default-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  cursor: pointer;
  transition: all var(--transition-duration) var(--transition-timing-function);

  &.open {
    border-radius: 8px 8px 0 0;
  }
}

.arrow {
  transition: transform var(--transition-duration) var(--transition-timing-function);

  svg {
    color: var(--select-default-active-color);
  }

  &.open {
    transform: rotate(-180deg);
  }
}

.options {
  position: absolute;
  background: var(--select-default-background);
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid var(--select-default-border-color);
  border-top: 0;
  border-radius: 0 0 8px 8px;
  z-index: 10;
  cursor: pointer;

  &__item:not(:last-child) {
    border-radius: 0;
  }

  &__item {
    width: 100%;
    border-radius: 0 0 8px 8px;
    padding: 8px 16px;

    &:hover {
      background-color: #f2f2f2;
    }
  }

  &__selected {
    color: var(--select-default-active-color);
    outline: 1px solid var(--select-default-active-color);
  }
}
