.inputGroup {
  display: inline-flex;
  align-items: center;
  gap: 2px;

  > *  {
    margin: 0;
    border: 0;
    border-radius: 0;
    // padding: 12px 24px;

    &:focus-within {
      z-index: 1;
    }

    &:first-child {
      border-radius: 0;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    &:last-child {
      border-radius: 0;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }

  &.fullWidth {
    width: 100%;

    > * {
      flex: 1;
    }
  }
}
